<ion-view view-title="Thông tin khảo sát - BÒ" ng-init="initBo()">
    <ion-content>
        <center><h3 class="padding-top">BÒ</h3></center>
        <!-- CON CO -->
        <div class="card">
            <div class="item item-divider">
                CON CÒ
                <span style="float:right;">
                    <input type="radio" value="0" ng-model="survey.BO_CC" ng-change="setUpdate()">
                    Không KD &nbsp;
                    <input type="radio" value="1" ng-model="survey.BO_CC" ng-change="setUpdate()">
                    Có KD
                </span>
            </div>
            <div class="item item-text-wrap" style="padding: 2px;" , ng-show="survey.BO_CC == 1">
                <div class="row">
                    <div class="col-survey-title">Mua trực tiếp</div>
                    <div class="col-survey-title">
                        <input type="radio" value="0" ng-model="survey.BO_CC_MUA_TT" ng-change="setUpdate()">
                        Không &nbsp;
                        <input type="radio" value="1" ng-model="survey.BO_CC_MUA_TT" ng-change="setUpdate()">
                        Có
                    </div>
                </div>
                <div class="row">
                    <div class="col-survey-title">Sản lượng</div>
                    <div class="col">
                        <input type="text item-input-inset" ng-model="survey.BO_CC_SL" ng-change="setUpdate()">
                        <label>(tấn/tháng)</label>
                        <div ng-include src="'templates/note-input-double.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CON CO -->
        <!-- DE HUES -->
        <div class="card">
            <div class="item item-divider">
                DE HUES
                <span style="float:right;">
                    <input type="radio" value="0" ng-model="survey.BO_DH" ng-change="setUpdate()">
                    Không KD &nbsp;
                    <input type="radio" value="1" ng-model="survey.BO_DH" ng-change="setUpdate()">
                    Có KD
                </span>
            </div>
            <div class="item item-text-wrap" style="padding: 2px;" , ng-show="survey.BO_DH == 1">
                <div class="row">
                    <div class="col-survey-title">Mua trực tiếp</div>
                    <div class="col-survey-title">
                        <input type="radio" value="0" ng-model="survey.BO_DH_MUA_TT" ng-change="setUpdate()">
                        Không &nbsp;
                        <input type="radio" value="1" ng-model="survey.BO_DH_MUA_TT" ng-change="setUpdate()">
                        Có
                    </div>
                </div>
                <div class="row">
                    <div class="col-survey-title">Sản lượng</div>
                    <div class="col">
                        <input type="text item-input-inset" ng-model="survey.BO_DH_SL" ng-change="setUpdate()">
                        <label>(tấn/tháng)</label>
                        <div ng-include src="'templates/note-input-double.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DE HUES -->
        <!-- CP -->
        <div class="card">
            <div class="item item-divider">
                CP
                <span style="float:right;">
                    <input type="radio" value="0" ng-model="survey.BO_CP" ng-change="setUpdate()">
                    Không KD &nbsp;
                    <input type="radio" value="1" ng-model="survey.BO_CP" ng-change="setUpdate()">
                    Có KD
                </span>
            </div>
            <div class="item item-text-wrap" style="padding: 2px;" , ng-show="survey.BO_CP == 1">
                <div class="row">
                    <div class="col-survey-title">Mua trực tiếp</div>
                    <div class="col-survey-title">
                        <input type="radio" value="0" ng-model="survey.BO_CP_MUA_TT" ng-change="setUpdate()">
                        Không &nbsp;
                        <input type="radio" value="1" ng-model="survey.BO_CP_MUA_TT" ng-change="setUpdate()">
                        Có
                    </div>
                </div>
                <div class="row">
                    <div class="col-survey-title">Sản lượng</div>
                    <div class="col">
                        <input type="text item-input-inset" ng-model="survey.BO_CP_SL" ng-change="setUpdate()">
                        <label>(tấn/tháng)</label>
                        <div ng-include src="'templates/note-input-double.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CP -->
        <!-- UP -->
        <div class="card">
            <div class="item item-divider">
                UP
                <span style="float:right;">
                    <input type="radio" value="0" ng-model="survey.BO_UP" ng-change="setUpdate()">
                    Không KD &nbsp;
                    <input type="radio" value="1" ng-model="survey.BO_UP" ng-change="setUpdate()">
                    Có KD
                </span>
            </div>
            <div class="item item-text-wrap" style="padding: 2px;" , ng-show="survey.BO_UP == 1">
                <div class="row">
                    <div class="col-survey-title">Mua trực tiếp</div>
                    <div class="col-survey-title">
                        <input type="radio" value="0" ng-model="survey.BO_UP_MUA_TT" ng-change="setUpdate()">
                        Không &nbsp;
                        <input type="radio" value="1" ng-model="survey.BO_UP_MUA_TT" ng-change="setUpdate()">
                        Có
                    </div>
                </div>
                <div class="row">
                    <div class="col-survey-title">Sản lượng</div>
                    <div class="col">
                        <input type="text item-input-inset" ng-model="survey.BO_UP_SL" ng-change="setUpdate()">
                        <label>(tấn/tháng)</label>
                        <div ng-include src="'templates/note-input-double.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- UP -->
        <!-- Khac -->
        <div class="card">
            <div class="item item-divider">
                Khác
                <span style="float:right;">
                    <input type="radio" value="0" ng-model="survey.BO_ANOTHER" ng-change="setUpdate()">
                    Không KD &nbsp;
                    <input type="radio" value="1" ng-model="survey.BO_ANOTHER" ng-change="setUpdate()">
                    Có KD
                </span>
            </div>
            <div class="item item-text-wrap" style="padding: 2px;" , ng-show="survey.BO_ANOTHER == 1">
                <div class="row">
                    <div class="col-survey-title">Mua trực tiếp</div>
                    <div class="col-survey-title">
                        <input type="radio" value="0" ng-model="survey.BO_ANOTHER_MUA_TT" ng-change="setUpdate()">
                        Không &nbsp;
                        <input type="radio" value="1" ng-model="survey.BO_ANOTHER_MUA_TT" ng-change="setUpdate()">
                        Có
                    </div>
                </div>
                <div class="row">
                    <div class="col-survey-title">Sản lượng</div>
                    <div class="col">
                        <input type="text item-input-inset" ng-model="survey.BO_ANOTHER_SL" ng-change="setUpdate()">
                        <label>(tấn/tháng)</label>
                        <div ng-include src="'templates/note-input-double.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Khac -->
        <div class="row">
            <br>
        </div>
        <!--Done-->
        <div class="row">
            <button class="button button-positive icon icon-right ion-checkmark-round col col-center" ng-click="updateBo()">Xong</button>
        </div>
        <div class="row">
            <br>
        </div>
    </ion-content>
</ion-view>
