<ion-view view-title="Danh Sách Đã Khảo Sát" ng-init="loadDealers()">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="dealer in dealers" type="item-text-wrap" href="#/tab/dealers/{{dealer.SurveyId}}">
                <img ng-src="{{dealer.DealerPhoto}}">
                <h2>{{dealer.DealerName}}</h2>
                <p>{{dealer.ProvinceName}}</p>
                <p>{{dealer.Address}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(dealer)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>