<ion-view view-title="Khảo sát chăn nuôi thị trường 2015" ng-init="watch()" >
    <ion-content class="padding" style="font-size:16px;">
        <!--select city/provine-->
        <center><h3>Thông tin đại lý</h3></center>
        <div class="row">
            <div class="col-survey-title">
                Tỉnh/Thành phố
            </div>
            <div class="col">
                <select ng-model="dealer.provinceId" ng-animate="dealer.city_provine" ng-change="loadDealer(); loadDistrict(); setUpdate()">
                   <option ng-selected="dealer.provinceId == p.ProvinceId" ng-repeat="p in provinces" ng-bind="p.ProvinceName" ng-value="p.ProvinceId"></option>
                </select>
            </div>
        </div>

        <!--AC or PC-->
        <div class="row">
            <div class="col-survey-title">
                Mua trực tiếp từ
            </div>
            <div class="col">
                <label class="padding-right" ng-show="user.AC_PC == 0">
                    <input type="radio" name="ac" ng-model="dealer.AC_PC" value="0" ng-change="loadDealer(); setUpdate()">
                    AC
                </label>
                <label class="padding-right" ng-show="user.AC_PC == 1">
                    <input type="radio" name="ac" ng-model="dealer.AC_PC" value="1" ng-change="loadDealer(); setUpdate()">
                    PC
                </label>
                <label>
                    <input type="radio" name="ac" ng-model="dealer.AC_PC" value="2" ng-change="clearDealerSelected(); setUpdate()">
                    Mới
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-survey-title">
                Tên đại lý
            </div>
            <div class="col" ng-show="dealer.AC_PC == 2">
                <label>
                    <input type="text item-input-inset" ng-model="dealer.dealerName" ng-change="setUpdate()">
                </label>
            </div>
            <div class="col" ng-show="dealer.AC_PC != 2">
                <select ng-model="dealerIndex" ng-change="setDealer(dealerIndex); setUpdate()">
                    <option ng-selected="dealer.dealerId == d.DealerId" ng-repeat="d in dealers" ng-bind="d.DealerName" ng-value="$index"></option>
                </select>
                <div style="padding-top:5px; font-size:12px;" ng-show="dealer.dealerCode">
                    Mã: {{dealer.dealerCode}}
                </div>
            </div>
        </div>
        
        <!--<div class="row">
            <div class="col-survey-title">
                Survey Code
            </div>
            <div class="col">
                <label>
                    <input type="text item-input-inset">
                </label>
            </div>
        </div>-->

        <!--ho ten nguoi kinh doanh-->
        <div class="row">
            <div class="col-survey-title">Tên người KD</div>
            <div class="col">
                <label>
                    <input type="text item-input-inset" ng-model="dealer.fullName" ng-change="setUpdate()">
                </label>
            </div>
        </div>

        <!--DTDD-->
        <div class="row">
            <div class="col-survey-title">Số ĐTDĐ</div>
            <div class="col">
                <label>
                    <input type="text item-input-inset" ng-minlength="9" ng-maxlength="12" ng-model="dealer.phoneNumber" ng-change="setUpdate()">
                </label>
            </div>
        </div>

        <!--ngay sinh-->
        <div class="row">
            <div class="col-survey-title">Ngày sinh</div>
            <div class="col">
                <select ng-model="dealer.day" ng-change="setUpdate()">
                    <option ng-selected = "dealer.day == d" ng-repeat="d in dates" ng-bind="d" ng-value="d"></option>
                </select>
                <label>/</label>
                <select ng-model="dealer.month" ng-change="setUpdate()">
                    <option ng-selected = "dealer.month == m"  ng-repeat="m in months" ng-bind="m" ng-value="m"></option>
                </select>
                <label>/</label>
                <label>
                    <input type="text item-input-inset" style="width:40px;" ng-model="dealer.year"  ng-change="setUpdate()">
                </label>
            </div>
        </div>

        <!--dia chi-->
        <div class="row">
            <div class="col-survey-title">Địa chỉ</div>
        </div>
        <!--<div class="row">
            <div class="col-survey-title padding-left padding-top">Tỉnh/TP</div>
            <div class="col">
                <select>
                    <option selected>Hà Nội</option>
                    <option>Hồ Chí Minh</option>
                    <option>Đà Nẵng</option>
                    <option>Lâm Đồng</option>
                    <option>Cần Thơ</option>
                </select>
            </div>
        </div>-->
        <div class="row">
            <div class="col-survey-title padding-left">Quận/Huyện</div>
            <div class="col" ng-show="dealer.AC_PC == 2">
                <select ng-model="dealer.districtId" ng-change="setUpdate()">
                    <option ng-selected="dealer.districtId == d.DistrictId" ng-repeat="d in districts" ng-bind="d.DistrictName" ng-value="d.DistrictId"></option>
                </select>
            </div>
            <div class="col" ng-show="dealer.AC_PC != 2">
                <label ng-bind="dealer.districtName">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-survey-title padding-left">Địa chỉ cụ thể</div>
            <div class="col">
                <label>
                    <!-- <input type="text item-input-inset" ng-model="dealer.address" ng-show="false"> -->
                    <textarea type="text item-input-inset" ng-model="dealer.address" rows="3" cols="25" ng-change="setUpdate()" style="border: 1px solid #AAAAAA;"></textarea>
                    <div>
                        <label style="padding-top:5px; font-size:12px;">(Số nhà, tên đường, ấp, xã/phường)</label>
                    </div>
                </label>
            </div>
        </div>

        <!--GPS-->
        <div class="row">
            <div class="col-survey-title">
                Tọa độ GPS
            </div>
            <div class="col">
                <div ng-show="survey.lat && survey.long" style="padding-top:5px;">
                    <input type="checkbox" ng-model="dealer.confirmGPS">
                    Xác nhận
                </div>
                <div  id="latlong" ng-model="dealer.gps"e>
                    Chưa xác định
                </div>
                <label style="padding-top:5px; font-size:12px;">(Vui lòng mở Google Maps để kiểm tra GPS)</label>
            </div>
        </div>

        <!--CMND-->
        <div class="row">
            <div class="col-survey-title">Số CMND</div>
            <div class="col">
                <label>
                    <input type="text" ng-model="dealer.cmnd" ng-change="setUpdate()">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-survey-img">
                <div class="list card" style="pading:10px;">
                    <div class="item item-image">
                        <img ng-show="imgCMND1 !== undefined" ng-src="{{imgCMND1}}">
                        <img ng-show="imgCMND1 === undefined" id="img_cmnd1" src="img/no-image.png">
                    </div>
                    <center>
                        <button class="button button-small" ng-click="upload(1)">
                            Mặt trước CMND
                        </button>
                    </center>
                </div>

            </div>
            <div class="col-survey-img">
                <div class="list card" style="pading:10px;">
                    <div class="item item-image">
                        <img ng-show="imgCMND2 !== undefined" ng-src="{{imgCMND2}}">
                        <img ng-show="imgCMND2 === undefined" id="img_cmnd2" src="img/no-image.png">
                    </div>
                    <center>
                        <button class="button button-small" ng-click="upload(2)">
                            Mặt sau CMND
                        </button>
                    </center>
                </div>
            </div>
        </div>

        

        <!--Hinh anh khac-->
        <div class="row">
            <div class="col-survey-title">Hình ảnh đại lý</div>
        </div>
        <div class="row">
            <div class="col-survey-img">
                <div class="list card" style="pading:10px;">
                    <div class="item item-image">
                        <img ng-show="imgDealer !== undefined" ng-src="{{imgDealer}}">
                        <img ng-show="imgDealer === undefined" id="img_dealer" src="img/no-image.png">
                    </div>
                    <center>
                        <button class="button button-small" ng-click="upload(3)">
                            Chủ đại lý
                        </button>
                    </center>
                </div>
            </div>
            <div class="col-survey-img">
                <div class="list card" style="pading:10px;">
                    <div class="item item-image">
                        <img ng-show="imgShop !== undefined" ng-src="{{imgShop}}">
                        <img ng-show="imgShop === undefined" id="img_shop" src="img/no-image.png">
                    </div>
                    <center>
                        <button class="button button-small" ng-click="upload(4)">
                            Cửa hàng
                        </button>
                    </center>
                </div>
            </div>
            <div class="col-survey-img">
                <div class="list card" style="pading:10px;">
                    <div class="item item-image">
                        <img ng-show="imgWarehouse !== undefined" ng-src="{{imgWarehouse}}">
                        <img ng-show="imgWarehouse === undefined" id="img_warehouse" src="img/no-image.png">
                    </div>
                    <center>
                        <button class="button button-small" ng-click="upload(5)">
                            Kho
                        </button>
                    </center>
                </div>
            </div>
        </div>

        <!--So dai ly cap 2-->
        <div class="row">
            <div class="col-survey-title">
                SL Đại lý cấp 2
            </div>
            <div class="col">
                <input type="number item-input-inset" ng-model="survey.SL_DL2" ng-change="setUpdate()">
            </div>
        </div>

        <!--So Ho/Trai danh ban-->
        <div class="row">
            <div class="col-survey-title">SL Hộ/Trại</div>
            <div class="col">
                <input type="text item-input-inset" ng-model="survey.SL_HO" ng-change="setUpdate()">
            </div>
        </div>

        <!--Chan nuoi truc tiep-->
        <div class="row">
            <div class="col-survey-title">
                Chăn nuôi trực tiếp
            </div>
            <div class="col">
               <input type="radio" name="nuoiTT" value="0" ng-model="survey.NUOI_TT" ng-change="setUpdate()">
                Không &nbsp;
                <input type="radio" name="nuoiTT" value="1" ng-model="survey.NUOI_TT" ng-change="setUpdate()">
                Có
            </div>
        </div>


        <div ng-show="survey.NUOI_TT == 1">
            <div class="row" >
                <div class="col-survey-title padding-left">
                    Nái
                </div>
                <div class="col">
                    <input type="text item-input-wrapper" ng-model="survey.SL_NAI" ng-change="setUpdate()">
                    (con)
                </div>
            </div>
            <div class="row">
                <div class="col-survey-title padding-left">
                    Thịt
                </div>
                <div class="col">
                    <input type="text item-input-inset" ng-model="survey.SL_THIT" ng-change="setUpdate()">
                    (con)
                </div>
            </div>
            <div class="row">
                <div class="col-survey-title padding-left">
                    Nọc
                </div>
                <div class="col">
                    <input type="text item-input-inset" ng-model="survey.SL_NOC" ng-change="setUpdate()">
                    (con)
                </div>
            </div>
        </div>
        

        <div class="row">
            <br>
        </div>

        <div class="row" ng-show="!dealer.confirmGPS">
           <label class="error"> * Vui lòng xác nhận tọa độ GPS trước khi tiếp tục.</label>
        </div>

        <!--Next-->
        <div class="row">
            <button class="button button-positive icon icon-right ion-chevron-right col col-center" ng-disabled="!dealer.confirmGPS" ng-click="saveDealer();">Tiếp Tục</button>
        </div>

        <div class="row">
            <br>
        </div>
    </ion-content>
</ion-view>